
h2 {
  font-size: 18px;
}

.bg-light {
  background: $playfire-back-light;
}

.mo-filter-module {
  margin-top: 10px;
  .mo-filter-current {
    display: block;
    color: $playfire-black;
    background: $playfire-orange;
    padding: 10px;
    .fa {
      float: right;
      margin-top: 2px;
      font-size: 18px;
    }
  }
  .mo-filter-options {
    display: none;
  }

  &.section-menu {
    margin-top: 0;
    .mo-filter-current {
      background: none;
      font-size: 18px;
      padding-left: 0;
    }
  }
}

.game-list-item {
  @include clearfix;
  color: $playfire-black;
  background-color: $playfire-back-light;
  border-bottom: 1px solid $playfire-grey-2;
  .game-list-item-img { 
    max-width: 30%; 
    float: left;
  }
  .game-list-item-title {
    padding: 10px 0 0 33%;
    .check-more { 
      float: right; 
      margin: 5px 15px 0 0;
      color: $playfire-black;
    }
    h3 { font-size: 14px; margin: 0; }
    .game-list-item-title-platform { font-size: 10px; font-weight: bold;}
  }
}

.carousel {
  position: relative;
  margin: 10px 0;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;

  > .item {
    position: absolute;
    top: 0;
    width: 90%;
    margin: 0 auto;
    @include transition(.6s ease-in-out left);

    // Account for jankitude on images
    > img,
    > a > img {
      @include img-responsive();
      line-height: 1;
    }
  }

  > .active { 
    position: static;
    display: block;
    left: 0;
  }

}

.carousel-indicators {
  position: absolute;
  bottom: -10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;

  li {
    display: inline-block;
    width:  6px;
    height: 6px;
    margin: 1px;
    text-indent: -999px;
    background-color: $playfire-grey;
    border-radius: 6px;
    cursor: pointer;
  }
  .active {
    background-color: $playfire-orange;
  }
}

.pf-in-feed-module-social-bar ul {
  width: 100%;
  li { width: 33%; }
  li:last-child { width: 34%; }
}

.pf-game-module .pf-game-module-title {
  padding: 10px 10px 6px 10px;
}
.pf-game-module-small {
  .pf-game-module-img img { max-width: 70%; }
  .pf-in-feed-module-social-bar {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    ul li {
      display: block;
      text-align: center;
      width: 100%;
    }
  }
  .pf-game-module-title {
    padding-left: 18px;
  }
}