// Header
// --------------------------------------------------
// global header and navigation
// PLAYFIRE SPECIFIC 


.header{
  
  .brand{
    float: left;
    width: 40%;
    max-width: 240px;
    img { max-width: 100%; }
  }

  .account-menu {
    text-align: right;
    padding: 9px;
  }

  .primary-menu{
    position: relative;
    font-size: 16px;
  }
  .primary-menu-btn {
    float: left;
    margin-top: 5px;
  }

  .primary-menu-search{
    position: relative;
    padding-left: 40px;
    .primary-menu-search-box{
      padding: 3px 40px 3px 10px;
      width: 100%;
      height: 40px;
      border: 0;
      background: $playfire-grey-2;
      text-transform: uppercase;
    }
    input[type=button], input[type=button]:hover {
      position:absolute; 
      right: -9px;
      border: 0;
      background: url('../../img/pf-icon-search.png') no-repeat center center $playfire-orange;
      //color: $playfire-orange;
      cursor: pointer;
      height: 40px;
      width: 40px;
    }
  }
  
  .dropdown-menu {
    width: 100%;
    @include box-shadow(none);
    border: none;
    padding: 0;
    a {
      padding: 12px 15px;
      border-bottom: 1px solid $playfire-grey-2;
      .fa { float: right; }
    }
  }

}

.mo-filter {
  list-style: none;
  padding: 0;
  margin-bottom: 2px;
  @include clearfix;
  li {
    float:left;
    width: 50%;
    text-align: center;
    a {
      color: $playfire-grey-5;
      background-color: $table-bg-accent;
      margin-right: 2px;
      font-size: 16px;
      display: block;
      padding: 15px;
      &.active { 
        color: $playfire-black;
        background-color: $playfire-back-light; }
    }
  }
}

.game-leaderboard {
  > h2 { margin: 0 0 10px 15px; }
  .leaderboard-top {
    background: $playfire-back-light;
  }
  .player-avatar {
    padding: 50px 0 0 0;
    .player-rank { top: 0; }
  }
  .top-player {
    padding: 15px;
  }
  .top-player.first-prize {
    margin: 0;
    border-bottom: 1px solid $playfire-grey-2;
    .player-info {
      margin-left: 90px;
      padding: 45px 0 10px 0;
      p { font-size: 12px; line-height: 1.3; }
    }
    .player-stats {
      margin: 0;
      li { margin-right: 35px; }
      li:last-child { margin-right: 0; }
    }
    .position-move {
      top: 10px;
    }
  }
  .player-avatar .icon-user-age-lg { bottom: -10px; }
  .top-player.second-prize { border-right: 1px solid $playfire-grey-2; }
  .top-player.second-prize,
  .top-player.third-prize  {
    text-align: center;
    .player-info {
      margin: 0;
    }
    .player-avatar {
      float: none;
    }
    .player-rank {
      top: 15px;
      left: 15px;
    }
    .position-move {
      right: 15px;
    }
    .player-stats {
      padding: 0;
      li { margin-top: 10px;}
    }
  }
  
}

