// Mobile Profile Page Styles

.mo-profile-settings {
  h2, h3 { padding: 5px 15px; }
  h3 {
    font-size: 18px;
    i { margin-right: 5px; vertical-align: bottom; }
  }
}


.settings-menu {
  list-style: none;
  padding: 0;
  margin: 10px auto;
  a {
    position: relative;
    display: block;
    font-size: 16px;
    color: $playfire-black;
    background-color: $playfire-back-light;
    border-bottom: 1px solid $playfire-grey-2;
    padding: 15px;
    i { 
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -9px;
      font-size: 18px;
    }
  }
}