.mo-form {
  legend {
    h2 { font-size: 30px; }
    p { font-size: 18px; }
  }
  label { display: block; margin-bottom: 5px; font-size: 14px; }
  .form-group {
    margin-bottom: 9px;
  }
  .form-control {
    width: 100%;
    font-size: 18px;
    padding: 5px 10px;
  }
  .form-buttons {
    margin: 20px auto;
    .btn {
      display: block;
      font-size: 18px;
      width: 100%;
      margin-bottom: 10px;
      text-align: center;
      padding: 10px;
    }
  }
  .pf-fm-radio {
    font-size: 14px;
    margin: 0;
  }
}
