.settings-navbar {
  @include ul-inline;
  @include box-shadow(0 0 3px rgba(0,0,0,.2));
  background-color: #fff;
  margin: 20px auto;
  li {
    text-align: center;
    width: 16.2%;
    padding: 25px 0;
    opacity: .4;
    &.active, &:hover { opacity: 1; }
    a {
      color: $playfire-black;
      font-weight: bold;
      display: inline-block;
      .nav-label { display: block; margin-top: 10px; }
    }
  }
}

#settings-images {
  img { max-width: 100%; }
  .hint {
    margin-top: 10px;
    font-size: 18px;
    color: $playfire-grey-5;
  }
  .btn { float: right; padding: 8px 40px; margin-top: 50px; }
}
.previous-header-img-list {
  padding: 0;
  li {
    float: left;
    list-style: none;
    text-align: center;
    width: 48%;
    margin: 0 4% 20px 0;
    &:nth-child(even) { margin-right: 0; }
    img { margin-bottom: 15px; max-width: 100%; }
  }
}

#settings-profile {
  .btn {
    margin-top: 180px;
  }
}

#settings-gamer-tags {
  label {
    color: $playfire-grey-5;
    position: absolute;
    left: 8px;
  }
  .xbox-live { padding-left: 140px; }
  .psn-id { padding-left: 220px; }
  .steam-id { padding-left: 130px; }
  .btn { margin-top: 140px; }
}

#settings-email-prefrences {
  .settings-list .btn { margin-top: 150px; }
}

#settings-playfire-prefrences {
  .special-margins { margin-top: 50px; }
  .btn { margin-top: 180px; }
}

.settings-list {
  .form-group { margin: 0 0 0 10px; }
}

