// PLAYFIRE : IN-FEED MODULES



// PLAYFIRE LOGGED-IN FIRST ROW ELEMENTS
.pf-signed-in-top-row{
	margin-top: 25px;
}

.pf-panel-signed-in{
	background: $playfire-back-light;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 20px;
	box-shadow: (0 1px 1px rgba(0,0,0,.1));
}

// PLAYFIRE SIGNED-IN PROFILE PANEL 

.pf-panel-profile-top{
	position: relative;
	p{
		font-size: 12px;
		color: $playfire-back-light;
		line-height: 0.5;
	}
	.pf-panel-profile-gamer-icon{
		position: absolute;
		bottom: 10px;
		left: 10px;
	}
	.pf-gamer-details{
		position: absolute;
		bottom: 10px;
		left: 100px;
		.pf-gamer-name{
			font-size: 18px;
			font-weight: bold;
		}
		.pf-gamer-platforms{
			font-weight: bold;
		}
	}
}

.pf-panel-profile-bottom, .pf-panel-share-bottom{
  padding: 0px;
  display: inline-block;
  font-size: 0px;
  text-transform: uppercase;
  margin-bottom: 0px;
  li{
  	margin: 0px;
  	width: 91px;
  	height: 68px;
  	text-align: center;
    display: inline-block;
    padding: 10px 0px 5px 0px;
    border-top: 1px solid $playfire-grey;
    border-right: 1px solid $playfire-back-dark;
    &:first-child {
    	margin-left: 1px;
	}
    &:last-child {
    	border-right: 0px;
    }
  }
  .lg-num{
  	display: block;
  	font-weight: bold;
  	font-size: 30px;
  }
  p{
  	font-size: 10px
  }
}

// PLAYFIRE SIGNED-IN SHARING PANEL 

.pf-panel-share-input{
	width: 368px;
	height: 154px;
	border: 0;
	background: $playfire-back-light;
	font-size: 16px;
	padding: 20px;
}

.pf-panel-share-bottom{
	width: 100%;
	background: $playfire-grey-2;
	li{
		height: 68px;
	}
	li.selected{
		color: $playfire-black;
		background: $playfire-back-light;
	}
	p{
		position: relative;
		top: 9px;
	}
	.icon-pen-dark,
	.icon-pen-white { margin-bottom: 1px; }
	.icon-video-dark,
	.icon-video-white { margin-bottom: 4px; }
}	


// PLAYFIRE EXPANDED SHARING PANEL

.pf-panel-share-expanded {
	.pf-panel-signed-in { background: none; }
	.pf-panel-share-input { width: 100%; height: 300px; }
	.pf-panel-share-bottom {
		margin-top: 20px;
		background: none;
		color: #fff;
		li { 
			background: $btn-dark-bg;
			border: none;
			margin-right: 2px;
		}
		li.selected { background: #FFFDFA; }
	}
	.form-control {
		width: 100%;
		border-bottom-color: $btn-dark-bg;
		@include placeholder($btn-dark-bg);
	}
	.form-actions { margin-top: 160px; }
	.btn { margin-left: 20px; font-size: 18px; padding-left: 60px; padding-right: 60px; }
}


// PLAYFIRE GENERIC IN-FEED MODULE 

.pf-panel-in-feed-module{
	background: $playfire-back-light;
	line-height: 1.2;
	margin-bottom: 20px;
	box-shadow: (0 1px 1px rgba(0,0,0,.1));
}


// IN-FEED PROMO PANEL START
.pf-panel-promo{
	position: relative;
	color: $playfire-back-light;
	.pf-panel-promo-text{
		
		position: absolute;
		bottom: 30px;
		left: 15px;
		line-height: 0.6;
		.pf-panel-promo-text-title{
			font-size: 18px;
		}
		.pf-panel-promo-text-sub{
			font-size: 12px;
			text-transform: uppercase;
			font-weight: bold;
		}
	}
}
// IN-FEED PROMO PANEL END

// IN-FEED PANEL STRIPES
.pf-in-feed-module-stripe{
	min-height: 5px;
}

.pf-in-feed-module-stripe-achievements{
	background: $playfire-cyan-2;
}

.pf-in-feed-module-stripe-progress{
	background: $playfire-purple;
}

.pf-in-feed-module-stripe-leaderboard{
	background: $playfire-blue;
}

.pf-in-feed-module-stripe-playfire{
	background: $playfire-orange;
}

// IN-FEED MODULE HEADER START

.pf-in-feed-module-top{
	padding: 18px;
	position: relative;
	.pf-in-feed-module-gamer{
		position: absolute;
		top: 18px;
		left: 70px;
		font-size: 12px;
		color: $playfire-grey-4;
		.pf-gamer-name{
			font-size: 14px;
			font-weight: bold;
			color: $playfire-black;
			margin-bottom: 4px;
		}
	}
	.pf-in-feed-module-post-time{
		position: absolute;
		top: 18px;
		right: 18px;
		font-size: 10px;
		font-weight: bold;
		color: $playfire-grey-4;
		.pf-in-feed-module-post-time-clock{
			display: inline-block;
			height: 10px;
			width: 11px;
			background: url('../../img/pf-in-feed-module-clock.png') no-repeat left top;
			margin-right: 0px;
			position: relative;
			top: 1px;
		}
	}

	.pf-in-feed-module-tags{
		font-weight: bold;
		font-size: 12px;
		color: $playfire-orange;
		margin-top: 16px;
	}
	.pf-in-feed-module-tags-expand{
		display: inline-block;
		height: 7px;
		width: 13px;
		background: url('../../img/pf-icon-arrow-down-yellow.png') no-repeat left top;
		margin-left: 5px;
	}
	.pf-in-feed-module-text p{
		font-style: 14px;
		color: $playfire-grey-3;
	}
	
}
// IN-FEED MODULE HEADER END



// IN-FEED MODULE SOCIAL BAR START

.pf-in-feed-module-social-bar{
	ul{
    padding: 0px;
		font-size: 0px;
    display: inline-block;
    margin: 0px;
    li{
	    font-weight: bold;
			font-size: 12px;
      display: inline-block;
      style: none;
			padding: 10px 10px 6px 10px;
			cursor: pointer;

    }
    .follow-clicked{
			border-bottom : solid 4px $playfire-cyan-2;
    }
    .share-clicked{
    	border-bottom : solid 4px $playfire-green-2;
    }
    .like-clicked{
    	border-bottom : solid 4px $playfire-red-2;
    }
    .want-clicked{
    	border-bottom : solid 4px $playfire-orange;
    }
    .pf-in-feed-module-social-like{
    	&:hover{
				border-bottom : solid 4px $playfire-red-2;
			}
    }
  }
  .pf-social-icon{
  	position: relative;
  	top: 4px;
		display: inline-block;
		height: 17px;
		width: 19px;
		background: yellow;
		padding-right: 22px;
  }
  .pf-social-icon-follow{
  	top: 6px;
		background: url('../../img/pf-icon-follow-blue.png') no-repeat left top;
  }
  .pf-social-icon-share{
		background: url('../../img/pf-icon-share-green.png') no-repeat left top;
  }
  .pf-social-icon-like{
		background: url('../../img/pf-icon-love-red.png') no-repeat left top;
  }
  .pf-social-icon-want{
		background: url('../../img/pf-icon-want-orange.png') no-repeat left top;
  }
}

.pf-in-feed-module-social-bar-in-image{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0;
	color: $playfire-back-light;
}

// IN-FEED MODULE SOCIAL BAR END



// IN-FEED MODULE COMMENTS START

.pf-in-feed-module-comments{
	background: $playfire-back-dark;
	padding: 15px 15px 1px 15px;
	.pf-comment-count{
		font-size: 16px;
		font-weight: bold;
	}
	.pf-in-feed-module-comments-expand{
		display: inline-block;
		height: 7px;
		width: 13px;
		background: url('../../img/pf-icon-arrow-down.png') no-repeat left top;
		margin-left: 5px;
	}

	.pf-in-feed-module-comments-comment{
		position: relative;



		.pf-gamer-details{
			position: absolute;
			top: 0px;
			left: 40px;
			.pf-gamer-name{
				font-size: 12px;
				font-weight: bold;
				color: $playfire-black;
				margin-bottom: 2px;
			}
			.pf-gamer-comment-time{
				font-size: 10px;
				color: $playfire-grey-4;
			}
			.pf-gamer-comment-time-clock{
				display: inline-block;
				height: 9px;
				width: 9px;
				background: url('../../img/pf-small-clock.png') no-repeat left top;
				margin-right: 5px;
				position: relative;
				top: 2px;
			}

		}
		.pf-gamer-comment-text{
			display: block;
			padding-top: 10px;
			padding-left: 40px;
			font-size: 12px;
			color: $playfire-black;
		}
		.pf-in-feed-module-comments-comment-icons{
	    padding: 0px;
	    display: inline-block;
	    position: absolute;
	    right: 0;
	    top: 0;
	    li{
	      display: inline-block;
	      style: none;
	      height: 12px;
	      width: 12px;
	    }
			.pf-in-feed-module-comments-comment-icons-like{
				background: url('../../img/pf-small-grey-heart.png') no-repeat left top;
			}
			.pf-in-feed-module-comments-comment-icons-follow{
				background: url('../../img/pf-small-follow-icon.png') no-repeat left top;
			}
			.pf-in-feed-module-comments-comment-icons-flag{
				background: url('../../img/pf-small-flag-icon.png') no-repeat left top;
			}
		}
	}
}

.pf-in-feed-module-comments-input-box{
	width: 100%;
	height: 40px;
	border: 0;
	background: $playfire-back-light;
	font-size: 13px;
	padding: 10px;
}

// IN-FEED MODULE COMMENTS END


// IN-FEED GAME PROGRESS START
.pf-in-feed-module-game-details{
	.pf-in-feed-module-game-details-image{
		display: inline-block;
		width: 50%;
	}
	.pf-in-feed-module-game-details-name{
		display: inline-block;
		vertical-align: top;
		padding: 20px 20px 0px 20px;
		.game-title{
			font-size: 18px;
			margin: 0px;
		}
		.platform{
			font-size: 12px;
			font-weight: bold;
		}
	}


}

.pf-in-feed-module-game-progress-stats{
	display: inline-block;
	width: 30%;
	text-align: right;
	//background: yellow;
	position: relative;
	top: 40px;
	.progress-num{
		font-size: 18px;
		font-weight: bold;
		margin-bottom: 0px;
	}
	.progress-who{
		font-size: 12px;
		margin-bottom: 0px;
	}
	.progress-them{
		color: $playfire-cyan-2;
	}
	.progress-you{
		color: $playfire-red;
	}
	.progress-playfire{
		color: $playfire-orange;
	}
}

.pf-in-feed-module-game-progress-chart{
	display: inline-block;
	width: 60%;
	padding-left: 20px;
}

// IN-FEED GAME PROGRESS START

// IN-FEED LEADERBOARD START
.pf-in-feed-module-leaderboard{
	padding:0px;
	li{
		padding: 12px 0px 4px 0px;
		list-style: none;
		&:nth-child(even){
			background: $playfire-back-dark;
		}
	}
	.leaderboard-them{
		border-left: solid 4px $playfire-cyan-2;
	}
	.leaderboard-you{
		border-left: solid 4px $playfire-red;
	}
	.pf-in-feed-module-leaderboard-score{
		display: inline-block;
		text-align: center;
		width: 50px;
		font-size: 20px;
		margin-right: 4px;
	}
	.pf-in-feed-module-leaderboard-gamerpic{
		display: inline-block;
		position: relative;
		top: -4px;
		width: 50px;
		margin-right: 10px;		
	}
	.pf-in-feed-module-leaderboard-gamername{
		display: inline-block;
		width: 160px;
		font-weight: bold;
		font-size: 18px;		
	}
}


// GAME MODULES

.pf-game-module{
	.pf-game-module-img{
		position: relative;
	}
	.pf-game-module-title{
		h3{
			font-size: 18px;
			margin: 0px 0px 5px 0px ;
		}
		.pf-game-module-title-platform{
			text-transform: uppercase;
			font-size: 12px;
			font-weight: bold
		}
		padding: 18px 18px 6px 18px;
	}
	.check-more {
		@include dark-link;
		float: right;
		margin-top: 10px;
	}
}

.col-md-3 .pf-game-module-title { padding-top: 8px; }

.pf-games-header{
	position: relative;
	.pf-games-header-view-all{
		position: absolute;
		right: 0px;
		bottom: 0px;
	}
}





