// PLAYFIRE : GAME PAGE
.section-heading {
  font-size: 30px;
}
.game-hero-part {
  position: relative;
  .game-platform {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: $playfire-black;
  }
  .game-meta-data {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    li {
      display: inline-block;
      margin-left: 15px;
    }
    .square-badget, 
    .circle-badget {
      display: inline-block;
      color: #fff;
      background-color: $playfire-orange;
      width: 30px;
      height: 30px;
      line-height: 30px;
      text-align: center;
      margin-left: 5px;
    }
    .circle-badget {
      border-radius: 50%;
    }
  }
  .poster img {
    @include img-responsive;
  }
  .game-social-stats {
    list-style: none;
    margin: -40px 0 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 10px 20px;
      color: #fff;
      font-weight: bold;
    }
  }
}

.game-stats {
  .block {
    background-color: #fff;
    text-align: center;
    border-top: 5px solid $playfire-purple;
    h3 { 
      margin: 10px 0 20px;
      font-size: 17px; 
      height: 30px;
      i { margin-right: 5px; }
    }
    &.game-achievements {
      border-top-color: #117173;
    }
    &.game-hours-played {
      border-top-color: #666;
    }
    .stat-data {
      list-style: none;
      padding: 0;
      margin: 10px 0 5px;
      li { 
        display: inline-block;
        font-weight: bold;
        .label { font-weight: normal; }
      }
      .stat-me {
        display: block;
        font-size: 40px;
        color: $playfire-red;
        small { font-size: 20px; }
        .label {
          display: block;
          font-size: 12px;
        }
      }
      .stat-playfire,
      .stat-following {
        margin: 10px;
        color: $playfire-orange;
        font-size: 30px;
        .label {
          display: block;
          font-size: 10px;
        }
      }
      .stat-following {
        color: #11b4b8;
      }
    }
  }
  .game-other-numbers {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}

.game-leaderboard {
  position: relative;
  .filter { @include filter; }
  .top-player {
    position: relative;
    .player-name {
      font-weight: bold;
      margin: 3px 0;
    }
    &.first-prize {
      margin-bottom: 40px;
      .player-info,
      .player-stats {
        margin-left: 140px;
      }
      .icon-user-age {
        font-size: 14px;
      }
      .position-move { right: 10px; }
      .position-move i {
        font-size: 24px;
        line-height: 60px;
      }
    }
    &.second-prize,
    &.third-prize {
      img {
        max-width: 50px;
      }
      .player-info { margin-left: 110px; }
      .player-stats {
        clear: both;
        padding: 20px 0 0 10px;
      }
      .player-name {
        font-size: 14px;
      }
    }
  }

  .player-avatar {
    float: left;
    position: relative;
    padding-left: 50px;
    display: inline-block;
    .icon-user-age,
    .icon-user-age-lg {
      position: absolute;
      bottom: 0;
      right: -5px;
      color: #fff;
      font-size: 10px;
      font-weight: bold;
      line-height: 20px;
    }
    .icon-user-age-lg {
      font-size: 14px;
      line-height: 40px;
    }
  }

  .player-rank {
    position: absolute;
    top: -10px;
    left: 0;
    i {
      color: #fff;
      font-size: 18px;
      font-weight: bold;
      vertical-align: middle;
      line-height: 40px;
      padding-right: 8px;
    }
  }

  .player-stats {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      margin: 0 3px;
      font-size: 18px;
      font-weight: bold;
    }
  }

  .position-move {
    position: absolute;
    right: 30px;
    top: 20px;
    i {
      color: #fff;
      font-size: 16px;
      font-weight: bold;
      vertical-align: middle;
      line-height: 30px;
      &.icon-move-up-sm { line-height: 40px; }
      &.icon-move-still { line-height: 20px;padding-left: 5px; }
    }
  }
  .your-position {
    border-top: 2px solid $playfire-black;
    margin-top: 20px;
    h3 { margin: 0 0 10px; }
    p {
      font-size: 17px;
    }
    .hint { font-size: 14px; }
  }
  .leaderboard-table {
    width: 100%;
    @include box-shadow(0 0 3px rgba(0,0,0,.2));
    background-color: #fff;
    td { 
      padding: 12px 10px;
      vertical-align: middle;
    }
    .player-position {
      font-size: 20px;
      padding-left: 20px;
    }
    .player-name {
      font-size: 18px;
      font-weight: bold;
    }
    .player-avatar {
      float: none;
      padding: 0;
      margin-right: 10px;
      img { max-width: 50px; }
    }
    .position-move { position: static; }
    .even {
      background-color: $playfire-back-dark;
    }
    .highlight {
      background-color: #000;
      color: #fff;
    }
  }
  .leaderboard-following {
    .your-position {
      border: none;
      margin-top: 5px;
      p { margin-bottom: 20px; }
    }
    .leaderboard-table {
      margin-bottom: 20px;
      .player-stats { text-align: right;}
    }
  }
}

.game-details {
  .detail-content {
    h4 {
      font-size: 14px;
      font-weight: bold;
      margin: 5px 0;
    }
    p { margin-bottom: 20px; }
  }
  .block {
    background-color: #fff;
    margin-bottom: 20px;
    @include box-shadow(0 0 3px rgba(0,0,0,.2));
    dl { margin: 0; }
    dt {
      float: left;
      margin-right: 5px;
    }
  }
  .block-head {
    background-color: #e8e5e0;
    font-size: 14px;
    font-weight: bold;
    padding: 15px;
    margin: 0;
  }
  .block-body {
    padding: 15px;
  }
  .game-information table {
    th, td { text-align: left; padding: 5px 0; }
    th { min-width: 100px; }
  }
}

.game-gallery {
  position: relative;
  .filter { @include filter; }
  .grid-view {
    img { @include img-responsive; }
    .col-md-3 { 
      margin-bottom: 20px;
    }
    a {
      display: inline-block;
      &.active { border: 5px solid $playfire-black;}
    }
  }
  .icon-video-player {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -22px;
    margin-top: -22px;
  }
  .carousel {
    position: relative;
    text-align: center;
    .carousel-inner {
      position: relative;
      width: 70%;
      margin: 40px auto;
      img, video { margin: 0 auto; }
    }
    .close-btn {
      position: absolute;
      top: -10px;
      right: 5px;
    }
    .carousel-control {
      position: absolute;
      top: 50%;
      left: 7%;
      margin-top: -24px;
      &.right { left: auto; right: 7%; }
    }
  }
}

.game-library {
  position: relative;
  .sort {
    margin-left: 10px;
    a { 
      font-size: 16px;
      font-weight: normal;
      color: $playfire-grey;
      &:hover { color: $playfire-orange; }
      &.active { color: $playfire-black; }
    }
  }
  .filter { @include filter; margin-top: 20px; }
}