.alter-bg-wrap {
  padding: 20px;
  background-color: $playfire-back-light;
  &.black {
      background-color: $playfire-black;
  }
}

// search box, left aside
.search-box{
  display: inline-block;
  .search-field{
    position: relative;
    top: 2px;
    padding: 3px 10px;
    width: 346px;
    height: 40px;
    font-size: 18px;
    border: 0;
    background: #fff;
    @include box-shadow(0 0 3px rgba(0,0,0,.1));
    &:focus{
      box-shadow: 0;
    }
  }
  input[type=button], input[type=button]:hover {
    position:relative; 
    top: 13px;
    border: 0;
    background: url('../../img/pf-icon-search.png') no-repeat center center $playfire-orange;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }
}

// Shared dashbaord number grid styles which are using in 
//   * Game gdb page
//   * Profile page

.grid-numbers-layout {
  .grid-number {
    position: relative;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background-color: #fff;
    margin-bottom: 20px;
    padding-left: 95px;
    height: 95px;
    @include box-shadow(0 0 3px rgba(0,0,0,.2));
    .badget {
      position: absolute;
      left: 0;
      display: inline-block;
      background-color: $playfire-orange;
      height: 95px;
      width: 95px;
      line-height: 95px;
      i { vertical-align: middle; }
    }
    .number { padding-top: 15px; }
    .label {
      display: block;
      font-size: 14px;
      font-weight: normal;
    }
    &.game-followers {
      .badget { background-color: #a9a8a9; }
    }
    &.game-players {
      .badget { background-color: #b0026c; }
    }
    &.game-shared {
      .badget { background-color: $playfire-green-2; }
    }
    &.private-info {
      .number { padding-top: 20px; font-size: 18px; }
      .badget { background-color: $playfire-red; }
    }
    &.rewards-earnt {
      .badget { background-color: $playfire-blue-2; }
    }
    &.credit {
      .badget { background-color: $playfire-green; }
    }
    &.posts-count {
      .badget { background-color: #b60059; }
    }
    &.reviews-count {
      .badget { background-color: #005e02; }
    }
    &.followers-count {
      .badget { background-color: $playfire-black; }
    }
  }
}

.az-container { 
  position: relative;
  text-align: center;
  margin: 20px auto;
}
.a-z {
  @include filter;
  position: static;
  a { font-size: 18px; }
}

.load-more {
  display: inline-block;
  font-size: 14px;
  color: $playfire-black;
  margin: 50px auto;
  &:hover {color: $playfire-black;}
  .cirle-plus { 
    display: inline-block;
    font-size: 30px; 
    font-style: normal;
    margin-bottom: 10px;
    width: 30px;
    height: 30px;
    line-height: 26px;
    border-radius: 30px;
    border: 2px solid $playfire-black;
  }
}


.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

.tags {
  @include ul-inline;
  li {
    margin: 10px 10px 10px 0;
  }
}

.btn {
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  @include user-select(none);

  &,
  &:active,
  &.active {
    &:focus {
      @include tab-focus();
    }
  }

  &:hover,
  &:focus {
    color: $btn-default-color;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: not-allowed;
    pointer-events: none; // Future-proof disabling of clicks
    @include opacity(.65);
    @include box-shadow(none);
  }
}
.btn-default {
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);
}
.btn-dark {
  @include button-variant($btn-default-color, $btn-dark-bg, $btn-dark-bg);
}
.btn-grey {
  @include button-variant($btn-default-color, $playfire-grey, $playfire-grey);
}

// Outer container
.progress {
  overflow: hidden;
  height: 10px;
  margin-bottom: 20px;
  background-color:$playfire-grey-5;
}

// Bar of progress
.progress-bar {
  float: left;
  width: 0%;
  height: 100%;
  font-size: $font-size-small;
  line-height: $line-height-computed;
  color: $progress-bar-color;
  text-align: center;
  background-color: $progress-bar-bg;
  @include box-shadow(inset 0 -1px 0 rgba(0,0,0,.15));
  @include transition(width .6s ease);
}

.table {
  width: 100%;
  margin: 30px 0;
}

.table-striped {
  > tbody > tr:nth-child(even) {
    > td,
    > th {
      background-color: $table-bg-accent;
    }
  }
}

.pf-carousel-module {
  position: relative;
  margin: 0 auto;
  text-align: center;
  .carousel-indicators {
    @include filter;
    position: static;
    margin: 10px auto;
  }
  .carousel-control {
    position: absolute;
    left: 8%;
    top: 50%;
    margin-top: -10px;
    @include dark-link;
    i { font-size: 22px; }
    &.right { left: auto; right: 8%; }
  }

}
