// Header
// --------------------------------------------------
// Additional typography
// PLAYFIRE SPECIFIC 

.hero-copy{
	text-align: center;
	font-size: 30px;
	width: 50%;
}

a{
	&:hover{
		text-decoration: none;
	}
}

.pf-text-fade-back{
	color: $playfire-grey;
}