// Header
// --------------------------------------------------
// Guideline display markup for pages, can be removed in production
// PLAYFIRE SPECIFIC 

.pf-guidelines-page-name{
	width: 100%;
	padding: 10px 10px;
	font-size: 20px;
	background: black;	
	color: white;
}

.pf-guidelines-abstracted-element{
	width: 100%;
	padding: 40px 10px;
	font-size: 30px;
	background: white;
	a{
		color: $playfire-grey;
	}
}

.pf-guidelines-label{
	display: inline-block;
	margin: 10px 10px;
	padding: 5px;
	font-size: 16px;
	background: black;
	color: white;
}
