// Header
// --------------------------------------------------
// Additional typography
// PLAYFIRE SPECIFIC 

.pf-guidelines-page-name{
	
}

.pf-guidelines-abstracted-element{
	width: 100%;
	padding: 50px;
	font-size: 30px;
	background: white;
	a{
		color: $playfire-grey;
	}
}

// HELPERS
.center-content{
	text-align: center;
}

.img-responsive{
	width: 100%;
}


// ELEMENT : HERO TEXT BLOCK
.pf-element-hero-copy{
	padding-top: 40px;
	padding-bottom: 20px;
	text-align: center;
	p{
		font-size: 30px;
		line-height: 1.2;
	}

}

// ELEMENT : SIGN-UP BLOCK
.pf-element-sign-up{
	text-align: center;
}

// ELEMENT : GENERIC PANEL

.pf-panel{
	display: inline-block;
	height: 195px;
	width: 277px;
	background: $playfire-back-light;
	padding: 15px;
	text-align: center;
	font-size: 18px;
	line-height: 1.2;
	margin-right: 15px;
	margin-bottom: 20px;
	&:last-child {
    margin-right: 0px;
  }
	img{
		margin-bottom: 10px;
	}
	p{
		margin-bottom: 20px;
	}
	box-shadow: (0 1px 1px rgba(0,0,0,.1));
}


// ELEMENT : GENERIC AND COLOURED BUTTONS


a.pf-btn{
		padding: 10px;
		text-transform: uppercase;
		color: $playfire-back-light;
		font-weight: bold;
    &:hover{
      text-decoration: none;
    }
}

a.pf-btn-green{
	background: $playfire-green;
}

a.pf-btn-orange{
	background: $playfire-orange;
}

a.pf-btn-grey{
	background: $playfire-grey;
}

.pf-button-about-join{
	margin-bottom: 10px;
	a{
		padding: 10px 30px;
	}
}


.pf-element-sign-in{
	padding-top: 15px;
	text-align: center;
	p{
		font-size: 16px;
		color: $playfire-grey;
	}
}

// ELEMENT : FULL WIDTH IMAGE

.pf-element-full-width-image{
	padding-top: 20px;

}

.pf-element-platform-logos{
	margin-bottom: 30px;
}

// ELEMENT : GAMERS ICONS -XLG, LG, MD, SM

.pf-gamer-icon-sm{
	position: relative;
	img{
		height: 30px;
		width: 30px;
	}
	.pf-gamer-score{
		position: absolute;
		display: block;
		text-align: center;
		top: 20px;
		left: 20px;
		height: 14px;
		width: 14px;
		background: url('../../img/pf-xp-back-sml.png') no-repeat left top;
		background-size: contain;
		.pf-gamer-score-num{
			position: relative;
			top: 3px;
			display: block;
			font-size: 8px;
			font-weight: bold;
			line-height: 1.1;
			color: $playfire-back-light;
		}
	}
}

.pf-gamer-icon-md{
	position: relative;
	img{
			height: 40px;
			width: 40px;
		}
	.pf-gamer-score{
		position: absolute;
		display: block;
		text-align: center;
		top: 24px;
		left: 24px;
		height: 20px;
		width: 20px;
		background: url('../../img/pf-xp-back-sml.png') no-repeat left top;
		.pf-gamer-score-num{
			position: relative;
			top: 4px;
			display: block;
			font-size: 10px;
			font-weight: bold;
			line-height: 1.1;
			color: $playfire-back-light;
		}
	}
}

.pf-gamer-icon-lg{
	position: relative;
	.pf-gamer-score{
		position: absolute;
		display: block;
		text-align: center;
		top: 50px;
		left: 50px;
		height: 30px;
		width: 30px;
		background: url('../../img/pf-xp-back.png') no-repeat left top;
		line-height: 1.2;
		p{
			font-size: 7px;
			position: relative;
			top: 0px;
			text-transform: uppercase;
			color: $playfire-back-light;
			line-height: 1.2;
		}
		.pf-gamer-score-num{
			position: relative;
			top: 3px;
			display: block;
			font-size: 15px;
			font-weight: bold;
			line-height: 1.1;
			margin-bottom: 2px;
			color: $playfire-back-light;
		}

	}
}

.pf-gamer-icon-xlg{
	position: relative;
	img{
		height: 168px;
		width: 168px;
	}
	&.pf-gamer-icon-xlg-editable {
		background: url('../../img/pf-gamer-pic-mask.png') no-repeat left top;				
		img {
			@include opacity(0.5);
		}
		.pf-gamer-icon-editable {
			cursor: pointer;
			position: absolute;
			width: 175px;
			left: 0px;
			top: 35px;
			background: url('../../img/icon-upload-small.png') no-repeat center top;		
			z-index: 5;
			p {
				width: 95px;
				text-align: center;
				margin: 45px auto 0px auto;
				font-size: 18px;
			}
		}
	}
	.pf-gamer-score{
		position: absolute;
		display: block;
		text-align: center;
		top: 126px;
		left: 126px;
		height: 50px;
		width: 50px;
		background: url('../../img/pf-xp-back.png') no-repeat left top;
		background-size: contain;
		line-height: 1.2;
		p{
			font-size: 10px;
			position: relative;
			top: 2px;
			text-transform: uppercase;
			color: $playfire-back-light;
			line-height: 1.2;
		}
		.pf-gamer-score-num{
			position: relative;
			top: 4px;
			display: block;
			font-size: 25px;
			font-weight: bold;
			line-height: 1.1;
			margin-bottom: 2px;
			color: $playfire-back-light;
		}

	}
}


// ELEMENT : SIGN-UP FORM

.pf-sign-up-form{
	border: 1px solid $playfire-grey;
	background: $playfire-back-light;
	box-shadow: (0 1px 1px rgba(0,0,0,.1));
	.form-title{
		padding: 20px 15px 10px 15px;
		line-height: 1;
		font-size: 26px;
		color: $playfire-black;
	}
	.form-input-wrapper{
		border-bottom: 1px solid $playfire-grey;
	}
	input[type=text]{
		padding: 3px 15px;
		width: 100%;
		height: 38px;
		border: 0;
		background: $playfire-back-light;
		&:focus{
			box-shadow: 0;
		}
	}
	input[type=checkbox]{
		margin-right: 5px;
	}
	.checkbox-wrapper{
		padding: 5px 0px 2px 15px;
		font-size: 13px;
		color: $playfire-grey;
	}
	.form-buttons{
		text-align: right;
		display: block;
		width: 100%;
		//height: 70px;
		padding: 20px 20px 20px 100px;
		//background: black;

	}
}

.pf-sign-up-copy{
	h3{
		font-size: 26px;
	}
	.pf-info-icon{
		position: relative;
		top: -2px;
		height: 24px;
		width: 24px;
		margin-right: 5px;
	}
	p{
		margin-bottom: 17px;
	}
	.pf-btn{
		padding-left: 65px;
		padding-right: 65px;
		color: black;
	}
}

// ELEMENT : SIGN-IN FORM

.pf-sign-in-form{
	border: 1px solid $playfire-grey;
	background: $playfire-back-light;
	box-shadow: (0 1px 1px rgba(0,0,0,.1));
	.form-title{
		text-align: center;
		padding: 20px 15px 10px 15px;
		line-height: 1;
		font-size: 26px;
		color: $playfire-black;
	}
	.form-input-wrapper{
		border-bottom: 1px solid $playfire-grey;
	}
	input[type=text]{
		padding: 3px 15px;
		width: 100%;
		height: 38px;
		border: 0;
		background: $playfire-back-light;
		&:focus{
			box-shadow: 0;
		}
	}
	.form-buttons{
		text-align: right;
		display: block;
		width: 100%;
		padding: 20px 20px 20px 100px;
	}
}




