@mixin ul-inline {
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
  }
}

@mixin filter {
  position: absolute;
  right: 0;
  top: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
  li {
    display: inline-block;
    margin-left: 20px;
  }
  a {
    color: #bbb;
    &.active, &:hover {
      color: $playfire-black;
    }
  }
}

@mixin dark-link {
  color: $playfire-black;
  &:active,
  &:hover { color: $playfire-orange; }
}