// PLAYFIRE : IN-FEED MODULES

.pf-profile-header {
	margin-bottom: 100px;
	.pf-profile-header-row1 {
		position: relative;
		.container {
			.pf-upload-container {
				cursor: pointer;
				position: absolute;
				top: 170px;
				right: 20px;
				padding: 17px 80px 17px 0px;
				background: url('../../img/icon-upload.png') no-repeat right;
			}
			.pf-profile-header-hero-container {
				width: 1700px;
				margin: 0px -241px;
				img {
					max-width: 100%;
					width: auto;
					height: auto;
					vertical-align: middle;
					border: 0;
					-ms-interpolation-mode: bicubic;
				}
				&.pf-profile-header-hero-container-editable {
					img {
						@include opacity(0.4);
					}
				}
			}
			.pf-profile-header-gamer {
				position: absolute;
				height: 120px;
				overflow: visible;
				bottom: 0px;
				z-index: 1;
				.pf-panel-profile-gamer-icon {
					float: left;
					margin-right: 15px;
				}
				.pf-gamer-incomplete {
					color: black;
				}
				.pf-gamer-details {
					color: #fff;
					float: left;
					.pf-gamer-name {
						@extend .h3;
					}
					.pf-gamer-platforms {
						font-weight: bold;
					}
				}
			}
		}
	}

	.pf-profile-header-row2 {
		background: $playfire-back-light;
		border-bottom: solid 1px $playfire-grey;
		position: relative;
		.pf-panel-profile-bottom {
			margin-left: 175px;
			li {
				padding-top: 5px;
				&:first-child {
					border-left: 1px solid $playfire-back-dark;
				}
				&:last-child {
					border-right: 1px solid $playfire-back-dark;
				}
				&.active {
					background-color: #000;
					p {
						color: #fff;
					}
				}
			}
		}
		.pf-panel-profile-settings {
			@extend .pf-panel-profile-bottom;
			margin-left: 0px;
			position: absolute;
			right: 0px;
			top: 0px;
			.pf-icon-settings {
				display: block;
				height: 42px;
				background: url('../../img/icon-settings.png') no-repeat center;
			}
			li.active {
				.pf-icon-settings {
					background: url('../../img/icon-settings-active.png') no-repeat center;					
				}
			}
		}
	}
	.pf-profile-subnav-row {
		background: $playfire-back-light;
		.pf-profile-subnav-wrapper {
			margin: 0px auto;
			height: 50px;
			display:table;
			white-space:nowrap;
			ul {
				list-style:none;
				margin:0;
				padding:0;
				display:table-row;
				white-space:nowrap;
				li {
					float: left;
					margin: 15px 20px;
					a {
						color: $playfire-grey;
						&:hover {
							color: #000;
						}
					}
					&.active {
						a {
							color: #000;
						}
					}
				}
			}
		}
	}
}

.pf-progress-module {
	position: relative;
	.pf-in-feed-module-game-progress-label { margin: 18px 18px 0 18px; }
	.pf-in-feed-module-game-progress-stats { width: 25%; }
	.pf-in-feed-module-game-progress-chart { 
		width: 70%; 
		padding-left: 10px;
		padding-bottom: 10px;
		max-width: 160px;
		img { max-width: 100%; }
	}	
	.pf-progress-nav-control {
		position: absolute;
		right: 15px;
		top: 50%;
		margin-top: -10px;
		color: $playfire-black;
		&:hover { color: $playfire-orange; }
	}
}

.pf-profile .profile-leaderboard {
	margin-bottom: 40px;
	.block { 
		min-height: 165px;
		padding-bottom: 20px;
		@include box-shadow(0 0 3px rgba(0,0,0,.2));
		> h3 { margin-bottom: 10px; }
		&.profile-game-ranking { border-top-color: $playfire-black; }
		&.profile-game-achievements { border-top-color: #117173; }
		&.profile-game-hours { border-top-color: #666666; }
		&.profile-game-movement { border-top-color: #1b8c30; }
	}
	.number {
		font-size: 50px;
		small {
			display: block;
			font-size: 14px;
		}
		.icon-move-up { margin-top: 7px; }
	}
}