.pf-rewards {
  position: relative;
  .pf-button-about-join {
    p { 
      font-size: 18px;
      margin-bottom: 30px;
    }
    .pf-btn {
      font-size: 30px;
      font-weight: normal;
      padding: 10px 60px;
    }
  }

  .filter { @include filter; top: 30px; }
  .chart { margin: 30px 0; }

  .table { 
    td { font-size: 14px; padding: 15px; }
    .date { width: 120px; }
    .title { font-size: 18px; }
    .action { text-align: right; }
    .rewards { font-size: 18px; font-weight: bold; text-align: right; width: 13%;}
    .transaction { 
      font-size: 18px;
      padding-left: 50px;
      &.in {
        color: $playfire-green-2;
        text-align: right;
      }
      &.out {
        color: $playfire-red;
      }
    }

    .action {
      a { @include dark-link; }
      i { margin-left: 10px; }
    }
  }
}

.pf-icon-view {
  text-align: center;
  min-height: 120px;
  margin: 20px 0;
  .label {
    display: block;
    font-size: 25px;
    margin-top: 15px;
  }
}

.pf-info-bar {
  background-color: $playfire-orange;
  padding: 15px 0;
  .log-info {
    font-size: 14px;
    margin-top: 15px;
    a { color: $playfire-black; text-decoration: underline; }
  }
  .balance-info {
    font-size: 30px;
    font-weight: normal;
  }
}

