[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  line-height: 1;
  vertical-align: text-top;
  background: url(../../img/sprites.png) no-repeat;
  margin-top: 1px;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}
.icon-arrow-down { width: 13px; height: 20px; background-position: -199px -242px; }
.icon-arrow-left { width: 30px; height: 47px; background-position: -117px -50px; }
.icon-arrow-right { width: 30px; height: 48px; background-position: -150px -116px; }
.icon-arrow-up { width: 14px; height: 21px; background-position: -179px -404px; }
.icon-bell-white { width: 27px; height: 30px; background-position: -141px -351px; }
.icon-calendar-white-lg { width: 58px; height: 58px; background-position: -84px -181px; }
.icon-camera-dark { width: 32px; height: 26px; background-position: -115px 0; }
.icon-camera-white { width: 32px; height: 26px; background-position: -84px -89px; }
.icon-clock-dark { width: 26px; height: 26px; background-position: -148px 0; }
.icon-clock-sm { width: 20px; height: 20px; background-position: -148px -52px; }
.icon-clock-white { width: 20px; height: 20px; background-position: -148px -73px; }
.icon-clock { width: 22px; height: 22px; background-position: -173px -303px; }
.icon-close-sm { width: 14px; height: 14px; background-position: -43px -415px; }
.icon-close { width: 22px; height: 22px; background-position: -196px -303px; }
.icon-cog-sm { width: 26px; height: 26px; background-position: -200px -85px; }
.icon-cup-dark-lg { width: 64px; height: 60px; background-position: -240px -132px; }
.icon-cup-dark { width: 26px; height: 24px; background-position: -148px -27px; }
.icon-diamond-white-lg { width: 52px; height: 52px; background-position: -252px -193px; }
.icon-email-dark-sm { width: 20px; height: 14px; background-position: -58px -415px; }
.icon-email-lg { width: 84px; height: 58px; background-position: -175px 0; }
.icon-email-white { width: 32px; height: 22px; background-position: -84px -66px; }
.icon-facebook-dark-sm { width: 10px; height: 20px; background-position: -200px -59px; }
.icon-facebook-lg { width: 42px; height: 80px; background-position: 0 -397px; }
.icon-first-prize { width: 49px; height: 40px; background-position: -84px -240px; }
.icon-follow-lg { width: 83px; height: 82px; background-position: 0 0; }
.icon-follow-sm { width: 20px; height: 20px; background-position: -179px -90px; }
.icon-followers-lg { width: 58px; height: 58px; background-position: -246px -246px; }
.icon-game-controller-dark-lg { width: 65px; height: 64px; background-position: -84px -116px; }
.icon-game-controller-dark-sm { width: 20px; height: 20px; background-position: -225px -277px; }
.icon-game-controller-lg { width: 83px; height: 82px; background-position: 0 -83px; }
.icon-gamepad { width: 58px; height: 58px; background-position: -246px -305px; }
.icon-image-dark-sm { width: 20px; height: 18px; background-position: -240px -112px; }
.icon-image-lg { width: 83px; height: 70px; background-position: 0 -250px; }
.icon-link-dark { width: 36px; height: 26px; background-position: -227px -85px; }
.icon-link-white { width: 36px; height: 26px; background-position: -202px -165px; }
.icon-lock-white-lg { width: 45px; height: 55px; background-position: -200px -329px; }
.icon-move-dark { width: 27px; height: 21px; background-position: -151px -94px; }
.icon-move-down-sm { width: 29px; height: 34px; background-position: -213px -242px; }
.icon-move-still { width: 30px; height: 25px; background-position: -148px -404px; }
.icon-move-up-sm { width: 28px; height: 34px; background-position: -84px -31px; }
.icon-move-up { width: 42px; height: 49px; background-position: -260px 0; }
.icon-note-dark-lg { width: 64px; height: 64px; background-position: -76px -322px; }
.icon-note-white-lg { width: 58px; height: 58px; background-position: -246px -364px; }
.icon-pen-dark { width: 25px; height: 25px; background-position: -199px -277px; }
.icon-pen-white { width: 25px; height: 25px; background-position: -219px -303px; }
.icon-playfire-dark-sm { width: 17px; height: 18px; background-position: -264px -50px; }
.icon-playfire-lg { width: 75px; height: 75px; background-position: 0 -321px; }
.icon-pop-dark-lg { width: 64px; height: 56px; background-position: -179px -426px; }
.icon-pop-white-lg { width: 58px; height: 52px; background-position: -181px -112px; }
.icon-profile-lg { width: 83px; height: 83px; background-position: 0 -166px; }
.icon-progress-sm { width: 20px; height: 19px; background-position: -261px -112px; }
.icon-progress { width: 28px; height: 26px; background-position: -96px -455px; }
.icon-radiobox-off { width: 15px; height: 15px; background-position: -135px -98px; }
.icon-radiobox-on { width: 17px; height: 17px; background-position: -117px -98px; }
.icon-second-prize { width: 49px; height: 40px; background-position: -84px -281px; }
.icon-share-lg { width: 52px; height: 52px; background-position: -43px -430px; }
.icon-share { width: 19px; height: 18px; background-position: -282px -50px; }
.icon-steam-white { width: 36px; height: 17px; background-position: -43px -397px; }
.icon-steam { width: 45px; height: 21px; background-position: -148px -382px; }
.icon-switcher-off { width: 52px; height: 25px; background-position: -211px -59px; }
.icon-switcher-on { width: 51px; height: 25px; background-position: -150px -165px; }
.icon-tag-white-lg { width: 52px; height: 52px; background-position: -125px -430px; }
.icon-third-prize { width: 49px; height: 40px; background-position: -194px -385px; }
.icon-trophie-dark-lg { width: 30px; height: 30px; background-position: -84px 0; }
.icon-trophie-dark-md { width: 26px; height: 26px; background-position: -141px -324px; }
.icon-trophie-dark { width: 30px; height: 30px; background-position: -169px -59px; }
.icon-trophie-green { width: 30px; height: 30px; background-position: -169px -349px; }
.icon-trophie-sm { width: 22px; height: 20px; background-position: -282px -110px; }
.icon-trophie-white { width: 26px; height: 26px; background-position: -96px -428px; }
.icon-upload-lg { width: 64px; height: 55px; background-position: -134px -247px; }
.icon-upload { width: 46px; height: 40px; background-position: -80px -387px; }
.icon-user-age-lg { width: 40px; height: 40px; background-position: -264px -69px; }
.icon-user-age { width: 20px; height: 20px; background-position: -152px -303px; }
.icon-user-dark-sm { width: 20px; height: 20px; background-position: -127px -387px; }
.icon-user { width: 20px; height: 20px; background-position: -127px -408px; }
.icon-video-dark { width: 31px; height: 22px; background-position: -115px -27px; }
.icon-video-player { width: 55px; height: 55px; background-position: -143px -191px; }
.icon-video-white { width: 31px; height: 22px; background-position: -168px -326px; }
.icon-wallet-white-lg { width: 52px; height: 48px; background-position: -199px -193px; }
.icon-wants-lg { width: 60px; height: 59px; background-position: -244px -423px; }
.icon-wants { width: 17px; height: 18px; background-position: -134px -303px; }