.pf-form {
  .form-group {
    position: relative;
    margin-bottom: 20px;
  }
  .form-control {
    width: 80%;
    border: none;
    border-bottom: 2px solid $playfire-grey-5;
    background: none;
    font-size: 25px;
    &[disabled],
    &[readonly],
    fieldset[disabled] & {
      color: $playfire-grey-5;
      cursor: not-allowed;
      opacity: 1; // iOS fix for unreadable disabled content
    }
    &.field-sm {
      width: 40%;
    }
    &.mini-bio,
    &.platforms {
      height: 40px;
    }
  }
  label { 
    font-size: 25px;
    vertical-align: middle;
    &+label { margin-left: 40px; }
  }
  .edit-link {
    font-size: 14px;
  }
  .change-password-link {
    position: absolute;
    left: 100px;
    top: 9px;
  }
  .disabled {
    opacity: .7;
  }
  .btn {
    float: right;
    padding: 8px 40px;
    margin: 20px auto;
  }
  .hint {
    font-size: 14px;
    color: $playfire-grey-5;
  }
}

.pf-fm-switcher {
  float: right;
  .fm-checkbox {
    display: none;
  }
}

.pf-fm-radio {
  margin: 0 30px 0 5px;
  color: $playfire-grey-5;
  input { display: none; }
  i { vertical-align: middle; }
  &.active { color: $playfire-black; }
}