// colors

// ------------  PLAYFIRE SPECIFIC START

$playfire-back-light: #fffdfa;
$playfire-back-dark: #f5f0ec;
$playfire-orange: #fda61b;
$playfire-black: #27282e;
//$playfire-green: #69ed23;
$playfire-green: #00E205;
$playfire-red: #e24d4a;
$playfire-cyan: #00b5d8;
$playfire-grey: #d4d1ce;
$playfire-grey-2: #e8e5e0;
$playfire-grey-3: #494a52;
$playfire-grey-4: #959596;
$playfire-grey-5: #c6c2c0;
$playfire-cyan-2: #3ac1c3;
$playfire-green-2: #7fc395;
$playfire-red-2: #ff7968;
$playfire-purple: #531f59;
$playfire-blue: #007ec7;
$playfire-blue-2: #569fbb;
$playfire-field-dark: #525357;

// overrides bootstrap
$brand-primary: $playfire-orange;
$btn-default-color: #fff;
$btn-default-border: $playfire-orange;
$btn-dark-bg: $playfire-field-dark;
$progress-bar-bg: $playfire-red;

$table-bg-accent: #faf7f3;

//$playfire-pink
// various grays

// ------------  PLAYFIRE SPECIFIC END