.pf-registration-welcome-info {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  .hint {
    font-size: 18px;
    color: $playfire-grey-5;
  }
  .icon-close { opacity: .4; }
  a:hover .icon-close { opacity: 1; }
}

.hide-it,
.skip-it {
  float: right;
  margin-top: 15px;
  color: $playfire-grey-5;
  .fa { font-size: 20px; vertical-align: text-top; }
  &:hover { color: $playfire-orange; }
}


.pf-registration-forms {
  margin-bottom: 40px;
  .pf-form .form-control {
    width: 100%;
    &.mini-bio,
    &.platforms {
      height: 40px;
      margin-bottom: 60px;
    }
  }
  .btn { padding: 8px 40px; margin-top: 50px; }
}

#settings-gamer-tags {
  > h2 {
    max-width: 70%;
  }
  > .hint {
    font-size: 18px;
    color: $playfire-grey-5;
  }
  .form-control { 
    max-width: 80%;
    padding-left: 5px;
  }
  .signin-with-steam {
    position: absolute;
    left: 130px;
    top: 6px;
  }
}

#settings-following {
  > h3 { margin: 20px 0;}
  .box {
    padding: 10px;
    background: #fff;
    @include box-shadow(0 0 3px rgba(0,0,0,.1));
    > h3 { margin: 10px; }

    &.may-like-games {
      padding: 10px 10px 0 0;
    }
  }
}

.follow-suggestions {
  width: 100%;
  td { 
    font-size: 14px;
    line-height: 1.4;
    height: 57px;
  }
  .pic { 
    text-align: center;
    max-width: 100px;
    img { max-width: 100%; }
    &.player-avatar {
      position: relative;
      img { max-width: 40px; }
      .icon-user-age { 
        position: absolute;
        left: 35px;
        top: 25px;
        color: #fff; 
        font-size: 10px;
        line-height: 20px;
      }
    }
  }
  .txt { 
    padding: 0 10px;
    strong, small { display: block; }
    small {
      color: $playfire-grey-5;
    }
  }
  .action { 
    text-align: right;
    font-size: 12px;
    i { vertical-align: middle; }
  }
  a { color: $playfire-black; }
  a:hover { color: $playfire-orange; }
}