// Header
// --------------------------------------------------
// global header and navigation
// PLAYFIRE SPECIFIC 


.header{
  padding-top: 25px;
  background-color: $playfire-back-light;
  .ul-inline {
    padding: 0px;
    display: inline-block;
    > li {
      display: inline-block;
    }
  }

  .header-top{
    border-bottom: solid 2px $playfire-grey-2;
    padding-bottom: 0px;
  }

  .header-area-top{
    position: relative;
  }

  .brand{
    position: absolute;
    top: 0;
    left: 0;
  }

  .account-menu{
    text-align: right;
    padding-bottom: 30px;
 
    //background: yellow;
    li{
      margin-left: 30px;
      &:first-child {
        margin-left: 0px;
      }
      a{
        color: $playfire-black;
        &:hover{
          text-decoration: none;
        }
      }
    }
    .account-details-cash{
      color: $playfire-red;
    }
    .account-menu-red-dot{
      display: inline-block;
      position: relative;
      margin-right: 4px;
      height:8px;
      width:8px;
      background: url('../../img/pf-menu-red-dot.png') no-repeat center center;
    }
    .account-menu-down-arrow{
      display: inline-block;
      position: relative;
      margin-left: 6px;
      height:7px;
      width:11px;
      background: url('../../img/pf-menu-arrow-down.png') no-repeat center center;     
    }

    .dropdown-notifications,
    .dropdown-inbox {
      text-align: left;
      padding: 0;
      width: 380px;
      right: -30px;
      top: 125%;
      .head {
        @include clearfix;
        .badget { 
          float: left;
          display: inline-block;
          background: $playfire-red;
          height: 50px;
          width: 50px;
          text-align: center;
          line-height: 50px;
          i { vertical-align: middle; }
        }
        h4 { 
          line-height: 50px;
          margin: 0 0 0 70px;
        }
        .count { color: $playfire-red; }
      }
      .item {
        max-width: 100%;
        margin: 0;
        border-top: 1px solid $playfire-grey-2;
        > a { padding: 6px 20px; white-space: inherit; }
        h4 { 
          font-size: 14px;
          font-weight: bold;
          margin: 5px 0 0;
          text-overflow: ellipsis;
          overflow: hidden;
          small {
            color: $playfire-black;
            font-size: 12px;
            font-weight: normal;
          }
        }
        p {
          font-size: 12px;
          margin-bottom: 6px;
        }
        .timestamp {
          color: $playfire-grey;
        }
        .player-avatar {
          float: left;
          position: relative;
          margin-right: 10px;
          width: 40px;
          display: inline-block;
          img { max-width: 100%; }
          .icon-user-age,
          .icon-user-age-lg {
            position: absolute;
            bottom: -3px;
            right: -5px;
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            line-height: 20px;
          }
          .icon-user-age-lg {
            font-size: 14px;
            line-height: 40px;
          }
        }
      }
      &:before {
        content: '';
        display: inline-block;
        border-left:   7px solid transparent;
        border-right:  7px solid transparent;
        border-bottom: 7px solid #ccc;
        border-bottom-color: $dropdown-border;
        position: absolute;
        top: -7px;
        right: 42px;
      }
      &:after {
        content: '';
        display: inline-block;
        border-left:   6px solid transparent;
        border-right:  6px solid transparent;
        border-bottom: 6px solid $dropdown-bg;
        position: absolute;
        top: -6px;
        right: 43px;
      }
    }
    .dropdown-notifications {
      &:before { right: 62px; }
      &:after { right: 63px; }
    }
    .dropdown-account {
      padding: 0;
      top: 125%;
      right: -10px;
      .item { 
        margin-left: 0;
        border-top: 1px solid $playfire-grey-2;
        a { 
          color: $playfire-black; 
          font-size: 12px; 
          padding: 8px 20px;
          &:hover { color: $playfire-black; }
        }
        &.active a {
          color: $playfire-black;
          background: none;
          padding-right: 15px;
          border-right: 5px solid $playfire-orange;
        }
      }
    }
  }

  .primary-menu{
    position: relative;
    padding-right: 180px;
    text-align: right;
    font-size: 16px;
    //background: yellow;
    li a{
      padding: 5px 15px 7px 15px;
      color: $playfire-black;
      //background: red;
      &:hover{
        text-decoration: none;
        border-bottom: 4px solid $playfire-orange;
      }
    }
    .selected{
      border-bottom: 4px solid $playfire-orange;
    }
  }
  .primary-menu-search{
    position: absolute;
    right:0;
    top: -20px;
    display: inline-block;
    .primary-menu-search-box{
      position: relative;
      top: 2px;
      padding: 3px 10px;
      width: 140px;
      height: 38px;
      border: 0;
      background: $playfire-grey-2;
      text-transform: uppercase;
      &:focus{
        box-shadow: 0;
        width: 300px;
      }
    }
    input[type=button], input[type=button]:hover {
      position:relative; 
      top: 14px;
      border: 0;
      background: url('../../img/pf-icon-search.png') no-repeat center center $playfire-orange;
      //color: $playfire-orange;
      cursor: pointer;
      height: 40px;
      width: 40px;
    }
    &.open {
      .primary-menu-search-box {
        box-shadow: 0;
        width: 300px;
      }
    }
    .dropdown-search {
      width: 100%;
      text-align: left;
      .head {
        padding: 10px 15px;
        font-weight: bold;
        font-size: 14px;
        border-bottom: 1px solid $playfire-grey-2;
      }
      .item a { 
        padding: 10px 15px;
        font-size: 16px;
        &:hover {
          border: none;
        }
      }
      .hightlight { color: $playfire-orange; }
    }
  }

  .secondary-menu{
    margin-top: 10px;
    text-align: center;
    li a{
      padding: 10px 15px 10px 15px;
      //background: yellow;
      &:first-child {
        margin-left: 0px;
      }
      color: $playfire-grey;   
      &:hover{
        text-decoration: none;
        color: $playfire-black;
      }
    }
    .selected{
      color: $playfire-black;
    }
    .extra-menu{
      background: $playfire-grey-2;
      text-transform: uppercase;
      color: $playfire-black;
      font-weight: bold;
    }
    .secondary-menu-down-arrow{
      display: inline-block;
      position: relative;
      margin-left: 6px;
      height:7px;
      width:11px;
      background: url('../../img/pf-menu-arrow-down.png') no-repeat center center;   
    }
  } 
}


