//
// Utility classes
// --------------------------------------------------


// Floats
// -------------------------

.clearfix {
  @include clearfix();
}
.center-block {
  @include center-block();
}
.pull-right {
  float: right !important;
}
.pull-left {
  float: left !important;
}


// Toggling content
// -------------------------

// Note: Deprecated .hide in favor of .hidden or .sr-only (as appropriate) in v3.0.1
.hide {
  display: none !important;
}
.show {
  display: block !important;
}
.invisible {
  visibility: hidden;
}
.text-hide {
  @include text-hide();
}


// Hide from screenreaders and browsers
//
// Credit: HTML5 Boilerplate

.hidden {
  display: none !important;
  visibility: hidden !important;
}


// For Affix plugin
// -------------------------

.affix {
  position: fixed;
}

// For GMG
// -------------------------

.table-cell {
  border-color: inherit;
  display: table-cell;
  vertical-align: top;
}

.full-width {
  width: 100% !important;
}

.full-height {
  height: 100% !important;
}

.block {
  display: block;
}

.capitalize {
  text-transform: capitalize;
}

.cursor-default {
  cursor: default;
}

.borderless {
  border-width: 0 !important
}

.no-pad {
  padding: 0 !important;
}

.no-border {
  border-width: 0 !important;
}

.border-bottom {
  border-width: 0 0 1px 0;
  border-style: solid;
}

.mini-hr {
  border-width: 0;
  height: 2px;
  max-width: 4em;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.wrap-cell {
  max-width: 0;
  word-wrap: break-word;
}
