.mo-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px; }
.mo-form .form-group {
  margin-bottom: 9px; }
.mo-form .form-control {
  width: 100%;
  font-size: 18px;
  padding: 5px 10px; }
.mo-form .form-buttons {
  margin: 10px auto; }
  .mo-form .form-buttons .pf-btn {
    width: 100%;
    margin-bottom: 10px; }
