.sprites {
  background: url(../../img/sprites.png) no-repeat; }

.icon-arrow-left {
  width: 30px;
  height: 47px;
  background-position: -119px -76px; }

.icon-arrow-right {
  width: 30px;
  height: 48px;
  background-position: -150px -85px; }

.icon-clock-lg {
  width: 26px;
  height: 26px;
  background-position: -50px -143px; }

.icon-clock-sm {
  width: 20px;
  height: 20px;
  background-position: -57px -122px; }

.icon-clock {
  width: 22px;
  height: 22px;
  background-position: -78px -122px; }

.icon-close {
  width: 22px;
  height: 22px;
  background-position: -101px -167px; }

.icon-first-prize {
  width: 49px;
  height: 40px;
  background-position: 0 -137px; }

.icon-followers-lg {
  width: 58px;
  height: 58px;
  background-position: 0 0; }

.icon-gamepad {
  width: 58px;
  height: 58px;
  background-position: 0 -59px; }

.icon-move-down-sm {
  width: 29px;
  height: 34px;
  background-position: -151px -50px; }

.icon-move-still {
  width: 30px;
  height: 25px;
  background-position: -120px -50px; }

.icon-move-up-sm {
  width: 28px;
  height: 34px;
  background-position: -59px -87px; }

.icon-move-up {
  width: 42px;
  height: 49px;
  background-position: -120px 0; }

.icon-progress {
  width: 28px;
  height: 26px;
  background-position: -59px -60px; }

.icon-second-prize {
  width: 49px;
  height: 40px;
  background-position: -80px -190px; }

.icon-share-lg {
  width: 52px;
  height: 52px;
  background-position: 0 -178px; }

.icon-share {
  width: 19px;
  height: 18px;
  background-position: -37px -118px; }

.icon-steam-white {
  width: 36px;
  height: 17px;
  background-position: 0 -118px; }

.icon-steam {
  width: 45px;
  height: 21px;
  background-position: -77px -145px; }

.icon-third-prize {
  width: 49px;
  height: 40px;
  background-position: -130px -190px; }

.icon-trophie-dark-lg {
  width: 30px;
  height: 30px;
  background-position: -88px -60px; }

.icon-trophie-dark {
  width: 26px;
  height: 26px;
  background-position: -53px -170px; }

.icon-trophie-green {
  width: 30px;
  height: 30px;
  background-position: -88px -91px; }

.icon-trophie-white {
  width: 26px;
  height: 26px;
  background-position: -53px -197px; }

.icon-user {
  width: 20px;
  height: 20px;
  background-position: -101px -124px; }

.icon-video-player {
  width: 55px;
  height: 55px;
  background-position: -124px -134px; }

.icon-wants-lg {
  width: 60px;
  height: 59px;
  background-position: -59px 0; }

.icon-wants {
  width: 17px;
  height: 18px;
  background-position: -163px 0; }

.pf-xp-back-sml {
  width: 20px;
  height: 20px;
  background-position: -80px -167px; }
