/* footer */
.footer-inner {
  background-color: #000;
  padding-top: 1em; }

.footer-additional {
  background-color: #494a4f;
  padding: 2em 0; }

footer h4 {
  font-weight: bold; }

footer a {
  color: #e8e5e0; }

/* social icons on footer */
.social-icons-footer {
  list-style-type: none;
  margin-top: 2em;
  padding: 0; }

.social-icons-footer li {
  list-style-type: none;
  padding: 0;
  margin: 0; }

.social-icons-footer li a {
  width: 36px;
  height: 36px;
  text-indent: -9999px;
  margin-right: 1.5em;
  float: left; }

.social-icons-footer .playfire {
  background: url(../img/icon-playfire-36.png) center center no-repeat; }

.social-icons-footer .facebook {
  background: url(../img/icon-facebook-36.png) center center no-repeat; }

.social-icons-footer .twitter {
  background: url(../img/icon-twitter-36.png) center center no-repeat; }

.social-icons-footer .gplus {
  background: url(../img/icon-gplus-36.png) center center no-repeat; }
