

// Page header
// -------------------------

.page-header {
  padding-bottom: (($line-height-computed / 2) - 1);
  margin: ($line-height-computed * 2) 0 $line-height-computed;
}

.section-header {
  border-top:1px solid $gray-medium;
  padding:16px 0 0 0;
  margin-top:27px;
  margin-bottom:12px;

  > h2{
  margin:0;
  padding:0;
  }

  .list-inline a{
  color:#9c9e9b;
  }
  .list-inline a.active{
  color:#f5f0ec; 
  }
}
// additional list styles
.list {
  padding-left: 0.66667em;
  margin-bottom: 1em;
}

.list--platform a{
  color:#cecaca;
  font-size:12px;
  text-align:center;
}
.list--platform >li{
 display: inline-block;
 padding-right:.5em;
 padding-left:.5em;
 border-left: 1px solid #cecaca;
}
.list--platform >li.selected{
  background:#4b4b4b url(../img/bg-platform-selected.png) no-repeat 5px center;
  padding-left:20px;
  border-left:none;
}
.new-caption .list--platform >li{
  float:left;
  width:auto;
  
}
.new-caption .list-platform a{color:#cecaca;}
.list--products{
  margin:0;
  padding:0;
  list-style-type:none;
}
.list--products > li{
list-style-type:none;
}
.list--products li:nth-child(odd) {
   background-color: #161618;
}
.current-price{
  color:$brand-primary;
  font-size:16px;
}
/* product lists */
.list__item--image img{
  max-width:90px;
}
.list__item--description a{
color:#fbf8f8;
}
.list__item--prices{
  padding-right:18px;
  text-align:right;
}

// avatar and xp display
.gmg-avatar{
  list--productsoz-box-sizing:border-box;
  box-sizing:border-box;
  display:inline-block;
  vertical-align:text-bottom
  }
.gmg-avatar-inner{
  display:table-cell;
  vertical-align:middle
}
.gmg-avatar img{
  display:block;
  margin:0 auto;
  height:100%;
  width:100%
}
.gmg-avatar-xsmall,
.gmg-avatar-xsmall .gmg-avatar-inner{
  height:20px;
  width:20px
}
.gmg-avatar-small,
.gmg-avatar-small .gmg-avatar-inner{
  height:30px;
  width:30px
}
.gmg-avatar-medium,
.gmg-avatar-medium .gmg-avatar-inner{
  height:40px;
  width:40px
}
.gmg-avatar-large,
.gmg-avatar-large .gmg-avatar-inner{
  height:62px;
  width:62px
}
.gmg-avatar-xlarge,
.gmg-avatar-xlarge .gmg-avatar-inner{
  height:80px;
  width:80px
}
.gmg-avatar-xxlarge,
.gmg-avatar-xxlarge .gmg-avatar-inner{
  height:98px;
  width:98px
}
.gmg-avatar-xxxlarge,
.gmg-avatar-xxxlarge .gmg-avatar-inner{
  height:178px;
  width:178px
}
.gmg-avatar-xsmall .gmg-avatar-inner img{
  max-height:20px;
  max-width:20px
}
.gmg-avatar-small .gmg-avatar-inner img{
  max-height:30px;
  max-width:30px
}
.gmg-avatar-medium .gmg-avatar-inner img{
  max-height:40px;
  max-width:40px
}
.gmg-avatar-large .gmg-avatar-inner img{
  max-height:62px;
  max-width:62px
}
.gmg-avatar-xlarge .gmg-avatar-inner img{
  max-height:80px;
  max-width:80px
}
.gmg-avatar-xxlarge .gmg-avatar-inner img{
  max-height:98px;
  max-width:98px
}
.gmg-avatar-xxxlarge .gmg-avatar-inner img{
  max-height:178px;
  max-width:178px
}