
//
// Header
// --------------------------------------------------

// global header and navigation

// ------------  PLAYFIRE SPECIFIC START

.header{
  padding-top: 25px;
  background-color: $playfire-back-light;
  ul{
    padding: 0px;
    display: inline-block;
    li{
      display: inline-block;
      style: none;
    }
  }

  .header-top{
    border-bottom: solid 2px $playfire-back-dark;
  }

  .header-area-top{
    position: relative;
  }

  .brand{
    position: absolute;
    top: 0;
    left: 0;
  }

  .account-menu{
    text-align: right;
    padding-bottom: 30px;
    margin-left: 15px;
    margin-left: 15px;
    li{
      margin-left: 30px;
      &:first-child {
        margin-left: 0px;
      }
      a{
        color: $playfire-black;
        &:hover{
          text-decoration: none;
        }
      }
    }
    .account-details-cash{
      color: $playfire-red;
    }
  }

  .primary-menu{
    text-align: right;
    font-size: 16px;
    li a{
      padding: 5px 15px 5px 15px;
      color: $playfire-black;
      &:hover{
        text-decoration: none;
        border-bottom: 4px solid $playfire-orange;
      }
    }
    .selected{
      border-bottom: 4px solid $playfire-orange;
    }
  }
  .search-box{
    display: inline-block;
    height: 40px;
    width: 180px;
    background: $playfire-back-dark;

  }
  .secondary-menu{
    margin-top: 17px;
    margin-bottom: 10px;
    text-align: center;
    li{
      margin-left: 30px;
      &:first-child {
        margin-left: 0px;
      }
      a{
        color: $playfire-grey;   
        &:hover{
          text-decoration: none;
          color: $playfire-black;
        }
      }
      .selected{
        color: $playfire-black;
      }
    }
  } 
}

// ------------  PLAYFIRE SPECIFIC END



// cart contents 

 .cart-contents{
    background-color: #2a2b2e; 
    padding:0;
    margin:0;
    position: absolute; 
    top: 100%;
    right:0;
    display:none;
    min-width:376px;
    z-index:100;
  }
   .cart:hover > .cart-contents {
    display: block;
  }
    .cart ul li {
      display:block; 
      padding:0;
      margin:0;
    }
.cart-contents-subtotal{
  height:3em;
  line-height:3em;
  padding:0 9px 9px 9px;
  background-color:#494a4f;
  text-align:right;

}
.cart-contents-btns{
  padding:9px;
  background-color:#161618;
}
.input-search-wrapper {
  position: relative;
}
.input-search-inner {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
}
.input-search-header {
  width: 178px;
  height: 40px;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
  background-color: #e8e5e0;
  font-size: 16px;
  padding: 0.5em;
}
.input-search-header:focus {
  width: 374px;
}
.input-search-submit {
  height: 40px;
  width: 40px;
  background: url(../img/icon-search.png) no-repeat center center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: inherit;
  border: 0;
}
/* search results header */

.input-search-header:focus + .search-results {
  display: block;
}
.search-results {
  width: 374px;
  display: none;
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  z-index: 10;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.search-results:hover {
  display: block;
}
.search-results li {
  background-color: #f4f1ed;
  display: block;
  width: 100%;
  margin:0;
  padding:0;
}
.search-results li div {
  display: table-cell;
  vertical-align: top;
}
.results-image {
  width: 178px;
}
.results-text {
  padding: 5px 0 0 5px;
}
.search-results li:nth-child(even) {
  background-color: #e8e5e0;
}
.search-results a {
  position: relative;
  margin: 0;
  text-decoration: none;
  color: #161618;
}
.search-results h5 {
  margin: 0 0 5px;
}
.search-results p {
  font-size: 12px;
  margin: 0 0 5px;
}
.search-results .prices {
  font-weight: bold;
}
.search-results a:hover {
  background: #338cdf;
}


// social links header 
.social-links-header{
  list-style-type:none;
  margin:10px 0;
  font-size:11px;

  }
.social-links-header li {
  border-left:1px solid #e8e5e0;
  display:inline-block;
}
.social-links-header li:first-child{
  border-left:none;
  }
.social-links-header li a {

  padding:0 5px;
  color:#e8e5e0;
}

// account
.account-cart{
  margin:10px 0;
  }
.account {
  list-style-type:none;
  }
 .account li { 
  position:relative;
  display:inline-block; 
  padding: 5px 10px 5px 0 ; 
  }
.account li a {
  text-decoration: none;
  }
.account li a span{
  color:#e8e5e0;
  }
.account .personal-credit a {
  }
.account .library-value a {

  }
.account .myaccount a { 
color:#e8e5e0;
  }
.myaccount .caret{
  border-top-color:#e8e5e0;
}

// account submenu 

  .account ul {
    background-color: #2a2b2e; 
    border-radius: 0px; 
    padding: 0;
    margin:0;
    position: absolute; 
    top: 100%;
    display:none;
    min-width:120px;
    z-index:100;
    font-size:12px;
  }
   .account li:hover > ul {
    display: block;
  }
    .account ul li {
      display:block; 
      padding:0;
      margin:0;
    }
      .account ul li a {
        padding: 3px 14px;
        color: #fff;
        display:block;
        border-bottom: 1px solid #e8e5e0;
      } 
        .account ul li a:hover {
          background:#494a4f;
        }


// cart

.shopping-cart{
  margin:10px 0;
  }
.shopping-cart ul {
  list-style-type:none;
  }
.shopping-cart li.cart { 
  position:relative;
  display:inline-block; 
  padding: 5px 10px 5px 35px; 
  background:url(../img/icon-mycart.png) no-repeat left center;
  }
.shoppingcart li.cart a,
.shoppingcart li.cart a:hover{
  text-decoration: none;
  }
.shopping-cart li.cart a span{
  color:#e8e5e0;
  }
.cart .caret{
  border-top-color:#e8e5e0;
}
