.nav-my-account {
  list-style-type: none;
  width: 100%;
  min-height: 8em;
  background-color: #494a4f; }

.nav-my-account li {
  width: 20%;
  float: left;
  border-top: 10px solid #999898;
  text-align: center;
  color: #494a4f;
  background-color: #494a4f;
  padding: 0 0 1em;
  font-size: 1em; }

.nav-my-account li img {
  display: block;
  margin: 1em auto;
  max-width: 100%;
  height: auto; }

.nav-my-account li a {
  text-transform: uppercase;
  color: #999898;
  font-weight: bold; }

.nav-my-account li a:hover {
  text-decoration: none; }

.nav-my-account li.active {
  border-top: 10px solid #e8e5e0;
  color: #e8e5e0; }

.nav-my-account li.active a {
  color: #e8e5e0; }

.account-table {
  border-top: 1px solid #494a4f;
  border-bottom: 1px solid #494a4f; }

.account-table th {
  font-weight: normal; }

.account-table th a {
  color: #9c9e9b;
  text-decoration: none; }

.account-table th a.active,
.account-table th a.selected {
  color: #f5f0ec; }

.account-table th a.selected {
  font-weight: bold; }

.item-image {
  width: 90px;
  max-width: 100px; }

.item-name {
  font-size: 18px; }

.item-additional {
  font-weight: bold;
  text-transform: uppercase; }

.date {
  max-width: 6em;
  width: 80px; }

.credit-action {
  font-size: 18px; }

.credit-info {
  text-align: center; }

.credit-used {
  font-size: 18px;
  color: #e73937;
  text-align: center; }

.credit-received {
  font-size: 18px;
  color: #00e100;
  text-align: center;
  max-width: 12em;
  width: 140px; }

.credit-balance {
  font-size: 18px;
  text-align: right; }

.completed {
  color: #00e105; }

.dispatched {
  color: #00e105; }

.release-date {
  color: #00e105; }

.order-value {
  font-size: 18px;
  font-weight: bold;
  text-align: right; }
