/* Lets reset all margins, paddings and list styles, shall we? */
.siteNavigation, .siteNavigation ol, .siteNavigation ul, .siteNavigation li {
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Adjust the height of the drop down menu */
.megaMenu, .navCategories, .megaMenu .col {
  min-height: 280px;
  font-size: 14px;
}
.siteNavigation .sectionDepartment:hover .navDropDown, .siteNavigation .sectionBrands:hover .navDropDown, .siteNavigation .sectionOffers:hover .navDropDown, .siteNavigation .sectionStyle:hover .navDropDown {
  left: 0;
}
.siteNavigation .sectionBrands:hover .navDropDown {
  left: 0;
}
.sectionBrands .navDropDown .menuTitle, .sectionOffers .navDropDown .menuTitle, .sectionStyle .navDropDown .menuTitle {
  margin-left: 0;
}
.megaMenu.show {
  left: 20%;
}
/*  .megaMenu is the content inside the dropdown menu */
.megaMenu {
  width: 80%;
}
/* .navCategories>li is the left hand menu in the drop down menu */
.navCategories>li {
  width: 20%;
}
/* .megaMenu width + .navCategories>li width = 100%
However, IE7 is lame, and you need to tweak the width if you change the above values */
.ie7 .navCategories>li>a {
  width: 19%;
}
.navCategories li:hover>.contentasset>.megaMenu, 
.navCategories>li:first-child .megaMenu {
  left: 20%;
}
/*---------- TOP TABS ---------- */
/* Position the menu */
.siteNavigation {
  position: relative;
  /*float: left;
  float:right; */
}
/* Top level styling */
.siteNavigation > li {
  z-index: 998;
  display: block;
  float: left;
  list-style: none;
}
.siteNavigation>li>a {
  position: relative;
  z-index: 1000;
  display: block;
  float: left;
  padding: 0 15px;
  height: 35px;
  line-height: 33px;
  text-decoration: none;
  color: #e8e5e0;
  font-weight: normal;
  text-transform: uppercase;
  white-space: nowrap;
}
.siteNavigation>li:first-child>a {
  padding-left: 0;
}
.siteNavigation>li:last-child>a {
  padding-right: 10px;
}
.siteNavigation>li:hover>a {
  color: #00e105;
}
/*  Top level tabs drop down icon */
.hasMenu:after{
  content: "\25BC";
  display: inline-block;
  padding: 0 0 0 10px;
  color: #e8e5e0;
}
/*---------- navDropDown ----------*/         

/* Second level - the drop down  */     
.navDropDown {
  position: absolute;
  top: 35px;
  left: -9999px;
  z-index: 998;
  width: 1158px;
  border-top: 9px solid #00e100;
  padding: 27xpx;
}
.navCategories {
  position: relative;
  border-top: 0;
  background-color: rgba(73,74,79,0.4);
}
/* The left hand menu in the drop down menu */
.navCategories>li {
  display: block;
  margin: 0 0 10px 0;
}
/*  Fix for IE7 - doesnt like LI's with block level styling. */
.ie7 .navCategories>li {
  display: inline;
}
.navCategories>li>a {
  display: block;
  font-weight: normal;
  font-size: 18px;
  padding: 5px 0 7px 12px;
  color: #e8e5e0;
  position:relative;
}
.navCategories>li>a:hover {
  color: #f5f5f5;
}
.navCategories>li>a.current, .navCategories>li>a:hover, .navCategories>li:hover>a {
  text-decoration: none;
  font-weight: bold;
}
.navCategories>li>a:after, 
.navCategories>li:hover>a:after{
  content: "\3e";
  float: right;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 20px;
  height: 20px;
  display: inline-block;
  color: #f5f5f5;
}
/*  IE7 fix */
.ie7 .navCategories li a span {
  position: absolute;
  top: auto;
  left: 170px;
}
.navCategories>li>a:hover:after, .navCategories>li:hover>a:after {
  color: #353535;
}
/*---------- PANELS ----------*/  
    
/* The menus inside the megamenu */
.megaMenu {
  position: absolute;
  left: -2000em;
  top: 0;
  z-index: 998;
  background: #1d1d1f;
}
.sectionBrands .megaMenu {
  left: 0;
}
/* Customise the columns in the megamenu. We can either use an list for links, or a DIV.col for content */
.megaMenu .col {
  width: 33%;
  float: left;
}
.megaMenu ul:last-child, .megaMenu .col:last-child {
  border: none;
  width: 33.6666666%
}
/* megaMenu columns */
/* 1 columns */
.megaOneColumn ul, .megaOneColumn .col {
  width: 100%;
}
/* Style is duplicate below to cater for IE users without JS  */
.megaOneColumn ul:last-child, .megaOneColumn .col:last-child {
  width: 100%;
}
/* 2 columns */
.megaTwoColumns ul, .megaTwoColumns .col {
  width: 49.75%;
}
.megaTwoColumns ul:last-child, .megaTwoColumns .col:last-child {
  width: 50%;
}
/* 3 columns */
 .megaThreeColumns .col {
  width: 33%;
}
.megaThreeColumns > .col:last-child {
  width:33.6666666%;
}
.megaThreeColumns .column1{

}

/* 4 columns */
.megaFourColumns ul, .megaFourColumns .col {
  width: 24.75%;
}
.megaFourColumns ul:last-child, .megaFourColumns .col:last-child {
  width: 25.25%;
}
/* 5 columns */
.megaFiveColumns ul, .megaFiveColumns .col {
  width: 20%;
  float: left;
}
.megaMenu.megaFiveColumns ul:last-child {
  width: 20%;
}
/* 2/3rds column - a wide column with two thin ones */
.megaTwoThirdsColumns .col {
  width: 50%;
}
.megaTwoThirdsColumns .col:last-child {
  width: 50%;
}
.megaTwoThirdsColumns ul {
  width: 24.5%;
}
.megaTwoThirdsColumns ul:last-child {
  width: 25%;
}
/*  Padding around content column */
.megaMenu .col .padding {
 padding: 20px 18px 0;
 display: block;
}
/* Some space to the top of each list or content column */
.megaMenu .col .padding, .siteNavigation .menuTitle:first-child {
  margin-top: 10px;
}
.siteNavigation .menuTitle:before {
  background: none;
  content: ''
}
.siteNavigation .menuSpacer {
  margin-bottom: 10px;
}
/*  Content styling */    
.megaMenu .thumb {
  width: 100%;
  height: auto;
}
.siteNavigation .sectionTitle, .megaMenu h2 {
  margin: 5px 10px;
  padding: 0 0 0 20px;
  text-transform: none;
  text-align: left;
  font-size: 18px;
  font-weight: normal;
}
.siteNavigation .menuTitle {

}
.siteNavigation .menuTitle {
  margin-top: 10px;
  margin-bottom: 10px;
}
.siteNavigation .sectionTitle .col {
  margin: 10px 0 0 0;
  padding: 0;
}
.sectionTitle {
  padding-top: 5px !important;
  padding-bottom: 8px !important;
}
.megaMenu h2 {
  padding-bottom: 5px;
}
.megaMenu p {
  padding: 0 0 5px 0;
}
.sectionPromo {
}
ul.col li {
  line-height: 17px;
}
.menuTitle a, .sectionTitle a {
  color: #e8e5e0 !important;
  font-size:18px;
}