//
// Product module
// --------------------------------------------------


// Base classes
.module {
  position:relative;
  overflow:hidden;
  margin-bottom:18px;

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }
}
.module-image{
  position:relative;
}
.caption {
  position:absolute;
  top:0;
  right:0;
  background:rgba(0, 0, 0, 0.75);
  width:100%;
  height:100%;
  padding:2%;
  display: none;
  text-align:center;
  z-index:2;
}
.caption h4{
  padding-top:5%;
  }
/* product labels */
/* this hides the label on hover */
.module:hover .prod-label{
  display:none;
  }
.prod-label {
  position: absolute;
  z-index: 999;
  width: 80px;
  height: 80px;
  background: url(../img/prod-label.png) 0 0 no-repeat;
}
/* types of offers */
.hot-offer-10 {
  background-position: 0 0
}
.hot-offer-33 {
  background-position: 0 -80px
}
.hot-offer-50 {
  background-position: 0 -160px
}
.hot-offer-75 {
  background-position: 0 -240px
}
.most-wanted {
  background-position: 0 -320px
}
.gmg-fav {
  background-position: 0 -400px
}
.sale10 {
  background-position: 0 -480px
}
.sale15 {
  background-position: 0 -560px
}
.sale75 {
  background-position: 0 -640px
}

/* product info bar */
.prod-info:before, .prod-info:after {
  content: " ";
  display: table;
}
.prod-info:after {
  clear: both;
}
.prod-info {
  height: 55px;
  background: #161618;
  padding: 5px;
  width: 100%;
  z-index: 1000;
}
.prod-info p {
  margin: 0;
}

.prod-info .prod-name, .prod-info .prices {
  float: left;
  margin: 0;
}
.prod-info .prod-name {
  width: 75%;
  width:66%;
}
.prod-info .prod-name h3, .prod-info .prod-name h3 a {
  font-size: 16px;
  margin: 0;
  padding: 0;
}
.prod-info .prod-name h4, .prod-info .prod-name h4 a {
  font-size: 14px;
  margin: 0;
  padding: 0;
}
.prod-name a {
  color: #fff;
}
.module .prices {
  width: 25%;
  width:33%;
  text-align: right;
  padding: 0;
  line-height: 22px;
}
.prev-price {
  color: #fbf8f8;
  text-decoration: line-through;
  display:block;
}
.current-price {
  color: #00f100;
  font-weight: 700;
  font-size: 18px
}

.module .prod-name h3 {
  font-size: 18px;
}
.module .prod-name h4 {
  font-size: 16px;
}
/* big module modifications */
.module4 .prod-info {
  height:116px;
  padding:18px;
  display:table-inline;
}
.module4 .prod-info .prod-name {
  width: 80%;
  display:table-cell;
  vertical-align:bottom;
}
.module4 .prod-info .prices {
  width: 20%;
  font-size:18px;
  display:table-cell;
}
.module4 .prod-name h3 a{
  font-size:20px;
}
.module4 .list--platform{
  margin-top:1em;
  padding:0;
  font-size:14px;
}

/* new caption */
.new-caption {
  display: table;
  width: 100%;
  height: 100%;
}
.new-caption-content {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}
.caption .sharing {
  opacity: 1;
}
.caption .sharing button {
  font-size: 12px;
}
.caption .btn-facebook {
  padding-left: 15px;
}
.caption .btn-twitter {
  padding-left: 20px;
}
.caption .btn-gplus {
  padding-left: 20px;
}
.caption .btn-playfire {
  padding-left: 22px;
}

.new-caption .sharing p {
  margin: 2px;

}
.new-caption .sharing p:after{
  content: " ";
display: table;
}

/* additional buttons for caption */
.new-caption .sharing .actions:before, .new-caption .sharing .actions:after {
content: " ";
display: table;
}
.new-caption .sharing .actions:after {
  clear: both;
}
.new-caption .sharing .actions {
  margin-top: -40px;
}
.new-caption .sharing .actions ul {
  list-style-type: none;
  margin: 0 0 5px 0;
  padding: 0;
}
.new-caption .sharing .actions ul li {
  display: inline-block;
  list-style-type: none;
  width: 60px;
  min-width: 40px;
  height: 25px;
}
.new-caption .sharing .actions li a {
  display: block;
  text-align: center;
  height: 30px;
  text-align: center;
  font-size: 12px;
  color: #c7c7c7;
  padding: 0 10px;

}
.new-caption .sharing .actions li.forshare {
  background: url(../img/icon-caption-share-2.png) no-repeat top center;
}
.new-caption .sharing .actions li.playfire-want {
  background: url(../img/icon-caption-want-2.png) no-repeat top center;
  width: 67px !important
}
.new-caption .sharing .actions li.more-info {
  background: url(../img/icon-caption-moreinfo.png) no-repeat top center;
}
/* new module styles */
.new-caption2:before, .new-caption2:after {
  content: " ";
  display: table;
}
.new-caption-content2 {
}
.functions-menu {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #27282d;
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.functions-menu li {
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.functions-menu li ul {
  display: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
  left: auto !important;
  right: 100% !important;
}
.functions-menu li li {
  display: inline;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: auto;
}
.functions-menu li:hover > ul {
  display: block;
  margin: 0;
  padding: 0;
  position: absolute;
  float: none;
}
.functions-menu > ul> ul {
  height: 40px;
}
.functions-menu .sharing {
  width: 200px;
  background-color: #7fc296;
}
.counter {
  width: 80px !important;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 40px;
  line-height: 12px;
  padding: 5px 15px 0;
}
.counter-number {
  font-size: 16px;
  font-weight: 800;
}
.counter-text {
  font-size: 10px;
  text-transform: uppercase;
}
.sharing {
  width: 100%;
}
.sharing li {
  display: inline-block;
}
.sharing li a {
  display: block;
  float: left;
  width: 30px;
  text-align: center;
}
.sharing .playfire, .sharing .facebook, .sharing .twitter, .sharing .google {
  width: 40px !important;
}
.sharing .counter {
}
.want-counter .counter {
  background-color: #fda61b;
}
/* platform links */
.caption .list {
  padding-top: 100px;
  text-align: left;
  font-size: 10px;
}
/* modal mini-pdp styles */
.ratings-score {
  width: 2em;
  padding: .5em;
  background-color: #494a4f;
  text-align: center;
  color: #e8e5e0;
  font-weight: bold;
  margin-right: 0.5em;
}
.reviews-counter .ratings-score {
  border-radius: 50%;
}
.metacritic .ratings-score {
  width: 32px;
}
/* product listing styles on mini pdp*/
.prod-listing{
  list-style-type:none;
  margin:0;
  padding:0;
}

/* list styles */
.list--platform a{
  color:#cecaca;
  font-size:12px;
  text-align:center;
}
.list--platform >li{
 display: inline-block;
 border-left: 1px solid #cecaca;
}
.list--platform >li.selected{
  background:#4b4b4b url(../img/bg-platform-selected.png) no-repeat 5px center;
  padding-left:20px;
  border-left:none;
}
.new-caption .list--platform >li{
  float:left;
  width:auto;
}
.new-caption .list-platform a{
  color:#cecaca;
  }
