// product details page 

// header 
.product-header h2 {
  margin: 0 0 0 15px;
}
.product-header-indicators{
  float:right;
  height:49px;
  line-height:49px;
}
.product-header-indicators li{
  vertical-align:middle;
}
// platform and pegi indicators
.product-header .list--platform {
  margin-top: 1em;
}
.pegi-label {
  width: 40px;
  height: 49px;
  background: url(../img/pegi-bgs.png)0 0 no-repeat;
}
.pegi-3 {
  background-position: 0 0
}
.pegi-7 {
  background-position: -40px 0
}
.pegi-12 {
  background-position: -80px 0
}
.pegi-16 {
  background-position: -120px 0
}
.pegi-18 {
  background-position: -160px 0
}

// product details ratings
.ratings a {
  color: #cecaca;
}
.ratings-score {
  width: 2em;
  padding: .5em;
  background-color: #86878c;
  text-align: center;
  color: #e8e5e0;
  font-weight: bold;
  margin-right: 0.5em;
}
.reviews-counter .ratings-score {
  border-radius: 50%;
}
.metacritic .ratings-score {
  width: 32px;
}
// product main information
// need a good solution for the big banner background, currently set as an inline style 
.format-selector .radio, .status-selector .radio {
  background-color: #000;
}
.format-selector label {
  background-position: 0 0;
  background-repeat: no-repeat;
  min-height: 30px;
  padding-left: 30px;
}
.format-selector .prices {
  color: #00e105;
  text-align: right;
}
.steam {

}
.origin {

}
.capsule {

}
.trading-value {
  color: #e05720;
  margin: .5em 0;
}
// reviews section
.playfire-link{
  color:#fda61b;
}
.reviews{
}


// product short description
.short-description{
  /*padding:2em;
  background-color:#494a4f;*/
}
// panels customization on product details
.panel-additional .table td{
  border-top:none;
  padding:4px;
}
// additional info extra styles 
.legal{
  font-size:12px;
}

// gallery initial styles 
.slider-container{
  position:relative;
  margin:2em 0;
  display:none;
}
.gallery-images{
  list-style-type:none;
  margin:0;
  padding:0;
}
