// product listing header

// filtering options 
.filters {
  background-color: #494a4f;
  padding: 18px;
}
.filters label {
  font-size: 1em;
}
.filter-option{
  margin-bottom:1.4em;
}
.filters h4 {
  width: 100%;
}
.filters h4 a{
  color:#e8e5e0;
  text-decoration:none;
}
.filters h4:after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
  content: "\e113";
  float: right;        
  color: e8e5e0;        
  font-size:1em;
}
.filters h4.collapsed:after {
  /* symbol for "collapsed" panels */
  content: "\e114";    
}
// product listings items 
.product-list{
list-style-type: none;
  margin: 0;
  padding: 0;
}
.product-list >li{
  background-color:#494a4f;
}
.product-list >li:nth-child(even){
  background-color:#161618;
}
.item{
  position:relative;
}
.item h3{
  margin:0;
}